
@tailwind base;
@tailwind components;
@tailwind utilities;






body {
background-color: #050a0f;
font-family: Manrope , serif;
}


a {
  color: inherit;
  text-decoration: none;
}


h1 {
  @apply text-2xl my-[20px]
}

p {
  @apply leading-8
}

/* it's for accordions soft open and close animation */
.accordion_content{
  transition: height 500ms;
}

.baseBtn {
  @apply relative  h-[45px] px-5 flex items-center justify-center   border border-white rounded-[4px]
}
.baseBtn:hover {
  @apply bg-gray-500 transition-all
}

.neonBtn {
  position: relative;
  background: #18BBC0;
  box-shadow: 0px 4px 31px #18bac080;
  @apply h-[45px] px-5 flex items-center border-none justify-center   text-whiteloan bg-blueloan border border-white rounded-[4px]
}
.neonBtn:hover {
  background: #18BBC0;
  box-shadow: none;
}

.isLoading { 
  box-shadow: none !important;
  background: rgba(128, 128, 128, 0.523) !important;
  opacity: .6;
}

.under-neon-circle {
  background: #18bac01f;
  @apply relative  mx-auto flex justify-center items-center h-[112px] w-[112px] rounded-full
}

.neon-circle {
  /* border: 10px solid rgb(1, 49, 61); */
  background: #18BBC0;
  box-shadow: 0px 4px 31px 8px #18bac080;
  @apply relative w-[92px] h-[92px] p-[20px] flex justify-center items-center text-3xl font-bold rounded-full;
}
.dark-icon-container {
  background: rgba(118, 255, 247, 0.03);
}
.hero-pic{
  background-position: center 50%;
  @apply bg-[url('/hero.jpg')] relative bg-no-repeat bg-cover object-contain
}
.hero-partial {
  background-color: rgba(0, 0, 0, 0.361);
}

.trapezium {
  @apply bg-[url('/trapezium.svg')] bg-no-repeat bg-right-top bg-cover
}



  .hero-illustration {
    @apply bg-[url('/partiallines.svg')] absolute bg-no-repeat bg-right-top top-[300px] w-full h-full
  }

  .roadmapD-illustration {
    @apply bg-[url('/roadmap-desktop.svg')] relative bg-no-repeat  w-full h-full
  }

  .earth-pic {
    @apply bg-[url('/earth.svg')] absolute bg-no-repeat bg-right-top w-full h-full
  }
  .paper-icon {
    @apply bg-[url('/icons/paper.svg')] absolute bg-no-repeat bg-right-top w-full h-full
  }
  .shield-icon {
    @apply bg-[url('/icons/shield.svg')] absolute bg-no-repeat bg-right-top w-full h-full
  }
  .speed-icon {
    @apply bg-[url('/icons/speed.svg')] absolute bg-no-repeat bg-right-top w-full h-full
  }
  .statistics-icon {
    @apply bg-[url('/icons/statistics.svg')] absolute bg-no-repeat bg-right-top w-full h-full
  }

  .sky-gradient {
    position: absolute;
   height: 100vh;
    width: 100%;
    background-image: radial-gradient(circle at top right, rgba(24, 186, 192, 0.384), rgba(24, 186, 192, 0.116) 20%, rgba(24, 186, 192, 0) 50%);
    }
    

    .base-gradient {
      height: 200px;
      background: radial-gradient(ellipse at center, rgba(24, 186, 192, 0.253)0%, rgba(24, 186, 192, 0.123) 20%, rgba(24, 186, 192, 0.068) 50%, rgba(24, 186, 192, 0) 70%);
      }


      .card-hover:hover {
        cursor: pointer;
        box-shadow: 0px 4px 31px #18bac080;
        @apply transition-all duration-300
      }

      .blured-headpage {
        background: rgba(255, 255, 255, 0.02);
        box-shadow: inset 0px 4px 15px rgba(0, 0, 0, 0.5);
        @apply w-screen flex flex-col items-center justify-center py-4
      }

  